#messages{
    height: 600px;
    width: 800px;
    overflow-y: scroll;
    border: 1px solid;
    text-align: center;
    overflow-wrap: break-word;
}


#layout{
    display:flex;
    margin-top:50px;
}

#inputDiv{
    text-align: center;
    margin-top: 20px;
}

#message{
    width: 700px;
}

.message{
    margin-bottom: 10px;
}

#register-box {
    border: 5px solid black;
    padding: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
}

#login-box {
    border: 5px solid black;
    padding: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
}

.register-page,
.login-page{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#responseMessage {
    color: red;
    font-weight: bold;
}

#logoutBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#chat{
    width:800px;
    justify-content:center;
    margin-left: 50px;
}

#users{
    width:200px;
    margin-right:20px;
    margin-left:20px;
}

.user{
    padding:10px;
    border:1px solid black;
    margin-bottom:5px;
    cursor:pointer;
}

#loginBtn{
    cursor: pointer;
}
#registerBtn{
    cursor: pointer;
}
#send{
    cursor: pointer;
}